<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Czy to już hejt?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div id="quiz" class="modal-body">
        
      </div>
      <div id="modal-footer-answer" class="modal-footer">
        <button data-value="false" type="button" class="btn btn-secondary answer">Nie</button>
        <button data-value="true" type="button" class="btn btn-primary answer">Tak</button>
      </div>
      <div id="modal-footer-next" class="modal-footer" style="display:none">
        <button type="button" class="btn btn-secondary next">Następny przykład</button>
      </div>
    </div>
  </div>
</div>