<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 d-block" data-navbar-on-scroll="data-navbar-on-scroll">
  <div class="container">
    <div class="skippy visually-hidden-focusable overflow-hidden">
       <a class="d-inline-flex p-2 m-1" href="#content">Skip to main content</a>
    </div>
    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse border-top border-lg-0 mt-4 mt-lg-0" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto pt-2 pt-lg-0 font-base">
        <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-bold active" aria-current="page" href="#home">Sprawdź swoją wiedzę</a></li>
        <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-bold" href="#teens">Dla dzieci i młodzieży</a></li>
        <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-bold active" aria-current="page" href="#parents">Dla rodziców</a></li>
        <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-bold" href="#schools">Dla szkół</a></li>
        <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-bold" href="#cooperation">Współpraca</a></li>
        <li class="nav-item px-2" data-anchor="data-anchor"><a class="nav-link fw-bold" href="#faq">Misja</a></li>
      </ul>
    </div>
  </div>
</nav>